div[id^="case"] {
    display: inline-block;
    padding: 5%;
    margin: 1%;
    background-color: yellow;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}